<section>
  <div class="container">
    <p>April 16 2020</p>
    <h2>Blog Post One</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button">Read Our Blog</button>
    <img
      src="./images/workingdesk.jpg"
      alt="workingdesk"
      width="670"
      height="460"
    />
  </div>
</section>
