<section class="our-team">
  <div class="container team-container">
    <p class="team-subtitle">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list">
      <li class="team-item">
        <div class="wrapper-team">
          <img src="./images/John-Doe.jpg" alt="man" />
          <div class="images-overlay">
            <load src="partials/social-list.html" />
          </div>
        </div>
        <h3 class="team-hero">John Doe</h3>
        <p class="team-hero-description">President</p>
      </li>
      <li class="team-item">
        <div class="wrapper-team">
          <img src="./images/Jane-Doe.jpg" alt="woman" />
          <div class="images-overlay">
            <load src="partials/social-list.html" />
          </div>
        </div>
        <h3 class="team-hero">Jane Doe</h3>
        <p class="team-hero-description">Vice President</p>
      </li>
      <li class="team-item">
        <div class="wrapper-team">
          <img src="./images/Steve-Smith.jpg" alt="man" />
          <div class="images-overlay">
            <load src="partials/social-list.html" />
          </div>
        </div>
        <h3 class="team-hero">Steve Smith</h3>
        <p class="team-hero-description">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
