<ul class="social-list">
  <li class="social-item">
    <a class="social-link" href="">
      <svg class="social-svg" width="35" height="35">
        <use href="./images/symbol-defs.svg#icon-faceboock"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="">
      <svg class="social-svg" width="35" height="35">
        <use href="./images/symbol-defs.svg#icon-twiter"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="">
      <svg class="social-svg" width="35" height="35">
        <use href="./images/symbol-defs.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="">
      <svg class="social-svg" width="35" height="35">
        <use href="./images/symbol-defs.svg#icon-linkedin"></use>
      </svg>
    </a>
  </li>
</ul>
