.page-header {
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

header > .container {
  width: 1360px;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.20686;
  color: #fff;
}
.logo-green {
  color: #28a745;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56444;
  color: #fff;
}
